* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.content {
  width: 100% !important;  
}
.navbar {

  background: #3aa0ff;
  color: white;
  padding: 1rem 0;
}

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  margin-right: 1.5rem;
}

.menu a:hover {
  color: black;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background: white;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .menu {
      display: none;
  }

  .mobile-menu {
      display: flex;
  }
}




/* content section  */
  
    .train-name {
      margin: 0 1rem;
      text-align: start;
      padding-left: 1.5rem;
      width: 30%;
    }

    .main-head {
      color: white;
      background-color: #3777b3;
      transition: 0s;
    }


    .main-head:hover {
      border: 1px solid black;
    }
    
    .content {
      padding: 1rem;
      text-align: center;
      font-size: 1rem;
      box-shadow: 0 0 10px black;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid #ddd;
      /* padding: 8px; */
      padding: 8px 2px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    @media screen and (max-width: 768px) {
      .header h1 {
        font-size: .9rem;
      }
      .content {
        font-size: .59rem;
      }
    }

    
.table-head td {
  font-weight: 700;
}

#trainChoiceBtn {
  transition: 0ms;
  font-size: larger;
  color: white;
  font-weight: 600;
  background-color: #3aa0ff;
  margin-top: 1rem;
  /* width: 18%; */
  padding: .5rem 2rem;
  border-radius: .6rem;
}

#trainChoice {
  padding: .6rem 1rem;
  border-radius: .35rem;
}

#trainChoiceBtn:hover {
  background-color: #f2f2f2;
  color: black;
}

.btn-clk {
  display: flex;
  justify-content: center;
  align-content: center;
}

#text-sel {
  width: 15%;
  /* display: block; */
  margin-top: 3rem;
  margin-left: 2rem;
  height: 2.5rem;
}

.fff {
  display: flex;
  justify-content: center;
  align-content: center;
}


.list-js {
  margin-top: 3rem;
}

.list-js li {
  font-size: larger;
}



#mainTable {
  display: none;
  justify-content: center;
}